<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <h1 th:text="'Hello, ' + ${name} + '!'" />
</body>
</html>